* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}
.PrincipalPage {
    width: 100%;
    height: 100%;
    
}
.pp {
  width: 100%;
  height: 100%;
  display: flex;
    justify-content: center;
    align-items: center;
}

.headerPP {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Logo {
    position: absolute;
    left: 5px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #0B4F6C;
    cursor: pointer;
}
.account {
    width: 40px;
    height: 50px;
    position: absolute;
    right: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #0B4F6C;
}
.notification{
    width: 40px;
    height: 50px;
    position: absolute;
    right: 45px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search {
    width: 40px;
    height: 50px;
    position: absolute;
    right: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.navbar {
    width: 100%;max-width: 400px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}
.link {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #465362;
    cursor: pointer;
}
#a{
    background-color: #011936;
    color: white;
}
.videoZ {
    position: absolute;
    top: 120px;
    width: 100%;
    height: 800px;
    background-color: white;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}
.v-1 {
    width: 90%;
    max-width: 400px;
    height: 200px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
::-webkit-scrollbar {
    width: 5px;
    right:5px;
    position:absolute;
  }
  ::-webkit-scrollbar-thumb {
    background:#ffffff;
    border-radius:10px;
  }
  .img-video-1 {
    width: 100%;
    height: 150px;
    background:url("narto\ img\ 2.jpg") black;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;
    cursor: pointer;
  }
  .navbar-video-1 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:space-around;
    align-items: center;
  }
  .profile-img {
    width: 40px;
    height: 40px;
    background:url("img\ 6.webp") black;
    background-repeat: no-repeat;
    background-size: 100% 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .space2 {
    width: 10px;
    height: 50px;
    background-color: transparent;
  }
  .elemnet-video {
    width: 290px;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .menu-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
  }
  .descriere {
    width: 100%;
    height: 30px;
    background-color: transparent;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
  }
  .name-data {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 10px;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    color: #2F4550;
  }
  .space {
    width: 90%;
    max-width: 400px;
    height: 200px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
  .inbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .back-pp {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Page-name {
    position: absolute;
    left: 60px;
    width: 40px;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-inbox {
    position: absolute;
    right: 5px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-inbox {
    position: absolute;
    right: 55px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }.to-day {
    position: absolute;
    top: 10px;
    width: 95%;
    height:auto;
    background-color: transparent;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }
  .msg-box {
    width: 100%;
    max-width: 400px;
    height: 50px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content:space-around;
    align-items: center;
  }
  .info-inbox {
    width: 100%;
    height: 20px;
    background-color: transparent;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
  }
  .img-anime-profile {
    width: 50px;
    height: 50px;
    background:url("img\ 6.webp") black;
    background-repeat: no-repeat;
    background-size: 100% 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .msg-z {
    width: 250px;
    height: 50px;
    background-color:transparent;
  }
  .space-msg {
    width: 10px;
    height: 50px;
    background-color: transparent;
  }
  .image-msg {
    width: 100px;
    height: 50px;
    background:url("narto\ img\ 2.jpg") black;
    background-repeat: no-repeat;
    background-size: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .titlu-msg {
    width: 100%;
    height: 30px;
    background-color: transparent;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .name-data {
    width: 100%;
    height: 20px;
    background-color: transparent;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .anime-profile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow-y: auto;
  }
  .header-profile {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-profile {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-zone {
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
    background-color: red;
  }
  .video-profile-zone {
    position: absolute;
    top: 500px;
    width: 100%;
    height: 1000px;
    background-color: blue;
  }